<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Define your Beans here -->
    <bean id="uno"
          class="com.agency04.sbss.pizza.pizzeriaservice.FirstPizzeria">
          <property name="name" value="Pizzeria Uno"/>
          <property name="address" value="Street A 1"/>
    </bean>

    <bean id="deliveryUno"
          class="com.agency04.sbss.pizza.pizzeriaservice.PizzaDeliveryService">
          <!-- set up constructor injection-->
          <constructor-arg ref="uno"/>
    </bean>

    <bean id="due"
          class="com.agency04.sbss.pizza.pizzeriaservice.SecondPizzeria">
          <property name="name" value="${dvar.name}"/>
          <property name="address" value="${dvar.address}"/>
          <property name="coupon" value="${dvar.coupon}"/>
    </bean>

    <bean id="deliveryDue"
          class="com.agency04.sbss.pizza.pizzeriaservice.PizzaDeliveryService">
        <!-- setter injection-->
        <property name="pizzeriaService" ref="due"/>
    </bean>



</beans>